<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <activity
            android:name=".entrena_brazos_elevacioneslaterales"
            android:exported="false" />
        <activity
            android:name=".grillaEntrenaActivity"
            android:exported="false" />
        <activity
            android:name=".EntrenaFuerzaEje5Activity"
            android:exported="false" />
        <activity
            android:name=".EntrenaFuerzaEje4Activity"
            android:exported="false" />
        <activity
            android:name=".EntrenaPiernasActivity"
            android:exported="false" />
        <activity
            android:name=".EntrenaBrazosActivity"
            android:exported="false" />
        <activity
            android:name=".EntrenaAbdominalesActivity"
            android:exported="false" />
        <activity
            android:name=".EntrenaActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".inicioctivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".ingreso"
            android:exported="false" />
        <activity
            android:name=".principalActivity"
            android:exported="false" />
        <activity
            android:name=".IngresoActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>